NameTag {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    .name-tag {
        position: absolute;
        font-size: 24px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 4px black;
        text-align: center;
        width: 100%;
    }
}
