.Title {
    top: 6%;
    font-family: 'a Anggota'; //'Deutsch Gothic'
    text-align: left;
    font-size: 64px;
    padding: 10px;
    color: black;
    margin-left: 3%;
    margin-right: auto;
    text-stroke: 3px whitesmoke;
}

.Title2 {
    top: 6%;
    font-family: 'a Anggota'; //'Deutsch Gothic'
    text-align: center;
    font-size: 46px;
    padding: 10px;
    color: black;
    margin-right: auto;
    margin-right: 3%;
    text-stroke: 3px whitesmoke;
}
