.Title {
    top: 6%;
    font-family: 'a Anggota'; //'Deutsch Gothic'
    text-align: left;
    font-size: 64px;
    padding: 10px;
    color: black;
    margin-left: 5%;
    margin-right: auto;
    text-stroke: 3px whitesmoke;
}
