{
  "Version": 2,
  "Mixers": {
    "Guid": "fc4f17c0-b299-4a56-99ef-0d206a4d4c39",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "Processors": [],
    "Children": [
      {
        "Guid": "ccdb79d1-718c-40b2-81a9-ec31eda849ab",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "25267a62-37f3-42c9-9eeb-4524a1234764",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "e8ee2da8-cbf8-47f3-bb3d-1cb681e991fb",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "be1831c2-5f99-410e-9c05-a4fefbdf909a",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "Processors": [
          {
            "Effect": "tunnel.medium",
            "Enabled": true,
            "Mix": 1,
            "__type": "DspProcessor"
          }
        ],
        "Children": []
      }
    ]
  },
  "__guid": "bae7acbb-95d2-4235-9f09-2d06bdcd01ae",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}